.ago {
	color:#666666;
	font-size: 10px;
}

.glyphicon {
margin-right: 4px !important; /*override*/
}
.pagination .glyphicon {
margin-right: 0px !important; /*override*/
}
.pagination a {
color: #555;
}
.panel ul {
padding: 0px;
margin: 0px;
list-style: none;
}
.news-item {
padding: 4px 4px;
margin: 0px;
border-bottom: 1px dotted #555;
}

p {
	text-align: center;
}

h2 {
	text-align: center;
}
img.profile {
	width: 200px;
    height: 200px;
}

#ticker li {
    border-bottom: 1px solid #999999;
    padding: 10px;
    margin: 0px;
    height: 250px;
}